﻿@model Mobweb.web.Models.Cliente
@{
    ViewBag.Title = "Adicionar Cliente";
    bool validCNPJ = false;

}
<div class="col-md-5 col-md-offset-3">


    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Inscreva-se</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->

        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="box-body">

                <div class="form-group">
                    @Html.LabelFor(m => m.RazaoSocial)
                    @Html.TextBoxFor(m => m.RazaoSocial, new { @class = "form-control", @placeholder = "Digite a razão social" })
                    @Html.ValidationMessageFor(m => m.RazaoSocial, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.NomeFantasia)
                    @Html.TextBoxFor(m => m.NomeFantasia, new { @class = "form-control", @placeholder = "Digite o nome fantasia" })
                    @Html.ValidationMessageFor(m => m.NomeFantasia, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.CNPJ)
                    @Html.TextBoxFor(m => m.CNPJ, new { @class = "form-control", @id = "Cnpj", @placeholder = "Digite o CNPJ" })
                    @Html.ValidationMessageFor(m => m.CNPJ, "", new { @class = "text-danger"})
                    <p class="text-danger" id="CnpjMessage"></p>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Cep)
                    @Html.TextBoxFor(m => m.Cep, new { @class = "form-control", @id = "Cep", @placeholder = "ex:00.000-000" })
                    @Html.ValidationMessageFor(m => m.Cep, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Municio)
                    @Html.TextBoxFor(m => m.Municio, new { @class = "form-control", @placeholder = "Digite o municio" })
                    @Html.ValidationMessageFor(m => m.Municio, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Logradouro)
                    @Html.TextBoxFor(m => m.Logradouro, new { @class = "form-control", @id = "Logradouro", @placeholder = "Digite o logradouro ex:CE" })
                    @Html.ValidationMessageFor(m => m.Logradouro, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Bairro)
                    @Html.TextBoxFor(m => m.Bairro, new { @class = "form-control", @placeholder = "Digite o nome do bairro" })
                    @Html.ValidationMessageFor(m => m.Bairro, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Numero)
                    @Html.TextBoxFor(m => m.Numero, new { @class = "form-control", @placeholder = "Digite o numero" })
                    @Html.ValidationMessageFor(m => m.Numero, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Complemento)
                    @Html.TextBoxFor(m => m.Complemento, new { @class = "form-control", @placeholder = "Digite o Complemento de Endereço" })
                    @Html.ValidationMessageFor(m => m.Complemento, "", new { @class = "text-danger" })
                </div>




            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button id="e" type="submit" class="btn btn-success pull-right"><i class="glyphicon glyphicon-plus"></i>&ensp; Adicionar</button>
                <a class="btn btn-default" href="@Url.Action("Clients","Usuario")">Voltar</a>
            </div>
        }


    </div>
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(document).ready(function () {
            $("#Cep").mask("99.999-999");
            $("#Cnpj").mask("99.999.999/9999-99");
        });
        $('#Cnpj').keyup(function () {
            var url = "/Cliente/CheckCNPJ";
            var cnpj = $("#Cnpj").val();
            if (cnpj.length >= 18) {
                $.post(url, { Cnpj: cnpj }, function (data) {
                    if (data == "CNPJ valido.") {
                        $("#CnpjMessage").html("CNPJ valido.")
                            .removeClass("text-danger")
                            .addClass("text-success");
                    } else {
                        $("#CnpjMessage").html(data)
                            .removeClass("text-success")
                            .addClass("text-danger");
                    }

                });
            } else {
                $("#CnpjMessage").html("")
            }
        })
    </script>



}




