﻿@model Mobweb.web.Models.Cliente

@{
    ViewBag.Title = "Details";
    int clientID = Model.ClienteID;
}

<div class="col-md-6 col-md-offset-3">
    <div class="box box-primary">
        <div class="box-header">
            <i class="fa fa-user"></i>

            <h3 class="box-title">Cliente</h3>

        </div>
        <div class="box-body">
            @using (Html.BeginForm())
            {
                @Html.HiddenFor(m => m.RazaoSocial)
                <table class="table table-striped">
                    <tbody>
                        <tr>
                            <td>@Html.LabelFor(m => m.RazaoSocial)</td>
                            <td>@Html.DisplayFor(m => m.RazaoSocial)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.NomeFantasia)</td>
                            <td>@Html.DisplayFor(m => m.NomeFantasia)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.CNPJ)</td>
                            <td>@Html.DisplayFor(m => m.CNPJ)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Cep)</td>
                            <td>@Html.DisplayFor(m => m.Cep)</td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Municio)</td>
                            <td><span>@Model.Municio - @Model.Logradouro</span></td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Bairro)</td>
                            <td><span>@Model.Bairro - @Model.Numero</span></td>
                        </tr>
                        <tr>
                            <td>@Html.LabelFor(m => m.Complemento)</td>
                            <td>@Html.DisplayFor(m => m.Complemento)</td>
                        </tr>
                    </tbody>

                </table>


            }
        </div>
        <div class="box-footer clearfix">
            <a id="editModal" class="btn btn-primary pull-right"><i class="glyphicon glyphicon-pencil"></i>&ensp;Editar</a>
            <a href="@Url.Action("Clients","Usuario")" class="btn btn-default">Voltar</a>
        </div>
    </div>

</div>

<div class="invisivel" id="modal_editar" role="dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal" style="padding-left:15px;">
            <fieldset>
                <div class="row ">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.ClienteID,new { @id = "ClienteID"})
                    @Html.HiddenFor(model => model.UsuarioID)
                    <div class="form-group">
                        @Html.LabelFor(m => m.RazaoSocial, new { @class = "col-md-3 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.RazaoSocial, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.RazaoSocial, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.NomeFantasia, new { @class = "col-md-3 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.NomeFantasia, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.NomeFantasia, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.CNPJ, new { @class = "col-md-3 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.CNPJ, new { @class = "form-control", @id = "Cnpj" })
                            @Html.ValidationMessageFor(m => m.CNPJ, "", new { @class = "text-danger" })
                            <p class="text-danger" id="CnpjMessage"></p>
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Cep, new { @class = "col-md-3 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Cep, new { @class = "form-control", @id = "Cep" })
                            @Html.ValidationMessageFor(m => m.Cep, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Municio, new { @class = "col-md-3 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Municio, new { @class = "form-control", @id = "muni" })
                            @Html.ValidationMessageFor(m => m.Municio, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Logradouro, new { @class = "col-md-3 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Logradouro, new { @class = "form-control", @id = "Logradouro" })
                            @Html.ValidationMessageFor(m => m.Logradouro, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Bairro, new { @class = "col-md-3 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Bairro, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Bairro, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Numero, new { @class = "col-md-3 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Numero, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Numero, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Complemento, new { @class = "col-md-3 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Complemento, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Complemento, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="modal-footer">
                                <a id="btn_sair" class="btn btn-default" role="button" data-dismiss="modal">cancelar</a>
                                <input type="submit" value="Salvar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    }
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).on('click', '#editModal', function () {
            var modal_editar = $('#modal_editar');
            bootbox.dialog({
                title: 'Alterar Dados',
                message: modal_editar
            })
                .on('shown.bs.modal', function () {
                    modal_editar.show(0, function () {
                        $('txt_nome').focus();
                    });
                })
                .on('hidden.bs.modal', function () {
                    modal_editar.appendTo('body');
                    modal_editar.hide();
                });
        });
        $(document).ready(function () {
            $("#Cep").mask("99.999-999");
            $("#Cnpj").mask("99.999.999/9999-99");
        });
        $('#Cnpj').keyup(function () {
            var url = "/Cliente/CheckCNPJWithID";
            var cnpj = $("#Cnpj").val();
            var clientID = @clientID;
            if (cnpj.length >= 18) {
                $.post(url, { Cnpj: cnpj, ClienteID: clientID }, function (data) {
                    if (data == "CNPJ valido.") {
                        $("#CnpjMessage").html("CNPJ valido.")
                            .removeClass("text-danger")
                            .addClass("text-success");
                    } else {
                        $("#CnpjMessage").html(data)
                            .removeClass("text-success")
                            .addClass("text-danger");
                    }

                });
            } else {
                $("#CnpjMessage").html("")
            }
        })
    </script>

}