﻿@model IEnumerable<Mobweb.web.Models.Cliente>
@{
            

                ViewBag.Title = "Clients";
}
<div class="col-xs-12">
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">Clientes</h3>
        </div>
        <div class="label">
            <a id="newClientBTN" href="@Url.Action("Create","Cliente")" class="btn btn-success"><i class="glyphicon glyphicon-plus"></i>&nbsp; Adicionar</a>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <table id="clientes" class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Razão Social</th>
                        <th>CNPJ</th>
                        <th>Localização</th>
                        <th>ações</th>
                    </tr>
                </thead>
                <tbody> 
                        @foreach (var item in Model)
                        {
                        
                            <tr>
                                <td>@item.RazaoSocial</td>
                                <td>@item.CNPJ</td>
                                <td>@item.Municio - @item.Logradouro</td>
                                <td>
                                    <a id="editarClient" class="btn btn-primary" href="@Url.Action("Details","Cliente",new { id = item.ClienteID})"><i class="glyphicon glyphicon-pencil"></i>&nbsp; Editar</a>
                                    <a id="removerClient" class="btn btn-danger" href="@Url.Action("Remove","Cliente",new { id = item.ClienteID})" ><i class="glyphicon glyphicon-trash"></i>&nbsp; Remover</a>
                                </td>
                            </tr>
                        }
                    
                </tbody>
                <tfoot>
                    <tr>
                        <th>Razão Social</th>
                        <th>CNPJ</th>
                        <th>Localização</th>
                        <th>ações</th>
                    </tr>
                </tfoot>
            </table>
        </div>
        <!-- /.box-body -->
    </div>
    <!-- /.box -->
</div>



@section Scripts{
    <script>
        $(function () {

            $('#clientes').DataTable({
                'paging': true,
                'lengthChange': false,
                'searching': false,
                'ordering': true,
                'info': true,
                'autoWidth': false
            })
        });

        
    </script>

}