﻿@model Mobweb.web.Models.Usuario
@{
    ViewBag.Title = "Details";

}

<div class="col-md-5 col-md-offset-3">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Detalhes</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <div class="box-body">

            <div class="form-group">
                @Html.LabelFor(m => m.NomeUsuario)
                @Html.DisplayFor(m => m.NomeUsuario, new { @class = "form-control", @placeholder = "Digite seu nome de usuario" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.NomeCompleto)
                @Html.DisplayFor(m => m.NomeCompleto, new { @class = "form-control", @placeholder = "Digite seu nome completo" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Email)
                @Html.DisplayFor(m => m.Email, new { @class = "form-control", @placeholder = "Digite seu Email" })
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Telefone)
                @Html.DisplayFor(m => m.Telefone, new { @class = "form-control", @placeholder = "(DD) 0000-0000", @id = "Phone" })

            </div>

        </div>
        <!-- /.box-body -->

        <div class="box-footer">
            @Html.ActionLink("Voltar", "Index", "Home", new { id = Model.UsuarioID }, new { @class = "btn btn-default" })
            <a id="editModal" class="btn btn-primary pull-right" role="button"><i class="glyphicon glyphicon-pencil"></i> Editar</a>
        </div>

    </div>
</div>
<div class="invisivel" id="modal_editar" role="dialog">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal" style="padding-left:15px;">
            <fieldset>
                <div class="row ">
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.UsuarioID)
                    @Html.HiddenFor(model => model.NomeCompleto)
                    <div class="form-group">
                        @Html.LabelFor(m => m.NomeUsuario, new { @class = "col-md-3 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.NomeUsuario, new { @class = "form-control", @id = "txt_nome" })
                            @Html.ValidationMessageFor(m => m.NomeUsuario, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Senha, new { @class = "col-md-3 control-label" })
                        <div class="col-md-12">
                            @Html.PasswordFor(m => m.Senha, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-3 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.Telefone, new { @class = "col-md-3 control-label" })
                        <div class="col-md-12">
                            @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control", @id = "Phone" })
                            @Html.ValidationMessageFor(m => m.Telefone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <div class="modal-footer">
                                <a id="btn_sair" class="btn btn-default" role="button" data-dismiss="modal">cancelar</a>
                                <input type="submit" value="Salvar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    }
</div>
@section Scripts{
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(document).on('click', '#editModal', function () {
            var modal_editar = $('#modal_editar');
            bootbox.dialog({
                title: 'Alterar Dados',
                message: modal_editar
            })
                .on('shown.bs.modal', function () {
                    modal_editar.show(0, function () {
                        $('txt_nome').focus();
                    });
                })
                .on('hidden.bs.modal', function () {
                    modal_editar.appendTo('body');
                    modal_editar.hide();
                });
        });
        $(document).ready(function () {
            $("#Phone").mask("(99)9999-9999");
        });

    </script>

}