﻿@model Mobweb.web.Models.ContaViewModel

@{
    ViewBag.Title = "Login";
}


<div class="col-md-5 col-md-offset-3">

    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Login</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        <section id="loginForm">
            @using (Html.BeginForm("Login", "Usuario", null, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="box-body">
                        <div class="form-group">
                            @Html.LabelFor(m => m.UserName, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.TextBoxFor(m => m.UserName, new { @class = "form-control",@placeholder="Usuario" })
                                @Html.ValidationMessageFor(m => m.UserName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Senha, new { @class = "col-sm-2 control-label" })
                            <div class="col-sm-10">
                                @Html.PasswordFor(m => m.Senha, new { @class = "form-control", @placeholder = "Senha" })
                                @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <div class="checkbox">
                                    <label>
                                        @Html.CheckBoxFor(m => m.LembrarMe)
                                        @Html.LabelFor(m => m.LembrarMe)
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <label>
                                    @Html.ActionLink("Cadastre-se", "SignIn")
                                </label>
                            </div>
                        </div>

                    </div>
                <!-- /.box-body -->
                <div class="box-footer">
                    <input type="submit" class="btn btn-info pull-right" value="Sign In" />
                </div>
            }
        </section>
    </div>
</div>
    

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
