﻿@model Mobweb.web.Models.Usuario
@{
    ViewBag.Title = "SignIn";
}
<div class="col-md-5 col-md-offset-3">


    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Inscreva-se</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="box-body">

                <div class="form-group">
                    @Html.LabelFor(m => m.NomeUsuario)
                    @Html.TextBoxFor(m => m.NomeUsuario, new { @class = "form-control", @placeholder = "Digite seu nome de usuario" })
                    @Html.ValidationMessageFor(m => m.NomeUsuario, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Senha)
                    @Html.PasswordFor(m => m.Senha, new { @class = "form-control", @placeholder = "Digite sua senha" })
                    @Html.ValidationMessageFor(m => m.Senha, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.NomeCompleto)
                    @Html.TextBoxFor(m => m.NomeCompleto, new { @class = "form-control", @placeholder = "Digite seu nome completo" })
                    @Html.ValidationMessageFor(m => m.NomeCompleto, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email)
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Digite seu Email" })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Telefone)
                    @Html.TextBoxFor(m => m.Telefone, new { @class = "form-control", @placeholder = "(DD) 0000-0000", @id = "Phone" })
                    @Html.ValidationMessageFor(m => m.Telefone, "", new { @class = "text-danger" })
                    
                </div>

            </div>
            <!-- /.box-body -->

            <div class="box-footer">
                <button type="submit" class="btn btn-primary pull-right">Inscrever</button>
                <a class="btn btn-default" href="@Url.Action("index","home")">Voltar</a>
            </div>
        }

    </div>
</div>


@section Scripts {

    <script>
        $(document).ready(function () {
            $("#Phone").mask("(99)9999-9999");
        });
    </script>

    @Scripts.Render("~/bundles/jqueryval")

}



